{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'board/style.css' %}" />

<center>

<table border=1>
{% for row in rows %}
	<tr>
	{% for square in row %}
		<td>
		{% with square_counter=forloop.counter0|stringformat:"s" row_counter=forloop.parentloop.counter0|stringformat:"s" %}
			{% with id=square_counter|add:","|add:row_counter %}
				
				{% if square %}
					<img src="{% static square %}" width="90" height="90" id="{{ id }}">
				{% else %}
					<div style="width:90px; height:90px;" id="{{ id }}"></div>
				{% endif %}
				
			{% endwith %}
		{% endwith %}
		</td>
	{% endfor %}
	</tr>
{% endfor %}
</table>

<p><big>{{ to_move }}</big></p>

{% if messages %}
    {% for message in messages %}
		<p>{{ message }}</p>
    {% endfor %}
{% endif %}

</center>

<form id="move" method="post" action="{% url 'board:move' board.id %}">
	{% csrf_token %}
	<input type="hidden" name="from_x" id="from_x"/>
	<input type="hidden" name="from_y" id="from_y"/>
	<input type="hidden" name="to_x" id="to_x"/>
	<input type="hidden" name="to_y" id="to_y"/>
</form>

<script>
	var selectedId = undefined

	for(var x = 0; x < 8; x += 1)
		for(var y = 0; y < 8; y += 1)
			(function(x, y) {
				var objId = x + ',' + y
				var obj = document.getElementById(objId)
				obj.addEventListener('click', function() {
					if(selectedId) {
						//document.getElementById(selectedId).className = ''
						document.getElementById('to_x').value = x
						document.getElementById('to_y').value = y
						document.forms[0].submit();
					}
					else {
						obj.className = 'selected_piece'
						selectedId = objId
						document.getElementById('from_x').value = x
						document.getElementById('from_y').value = y
					}
				})
			})(x, y)
</script>
