{% if board_list %}
    <ul>
    {% for board in board_list %}
		<li><a href="{% url 'board:board' board.id %}">{{ board.id }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No boards are available.</p>
{% endif %}
